SECRET_KEY=your-super-secret-key-change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database (для Docker)
DB_NAME=foodcalc_db
DB_USER=foodcalc_user
DB_PASSWORD=foodcalc_password
DB_HOST=db
DB_PORT=5432