{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load age %}
{% block title %}
  {% if '/edit/' in request.path %}
    Редактирование данных о питомце
  {% elif "/delete/" in request.path %}
    Удаление данных о питомце
  {% else %}
    Добавление питомца
  {% endif %}
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        {% if '/edit/' in request.path %}
          Редактирование данных о питомце
        {% elif '/delete/' in request.path %}
          Удаление данных о питомце
        {% else %}
          Добавление питомца
        {% endif %}
      </div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% if not '/delete/' in request.path %}
            {% bootstrap_form form %}
          {% else %}
            <article>
            <p>Хозяин: {{animal.owner}} </p>
            <p>Информация о питомце: {{animal.name}},  {{animal.type}} {%if animal.nursing %}, является кормящей {% endif %}</p>
            <p>Масса: {{animal.weight}}, кг </p>
            <p>Возраст: {{animal.birthday|age }}, месяцев </p>
            </article>
          {% endif %}
          {% bootstrap_button button_type="submit" content="Подтвердить" %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}