{% load static %}
<header>
  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <div class='row'>
        <div class='col-sm-2'>
      <a class="navbar-brand" href="{% url 'calc:index' %}">
        <img src="{% static 'img/logo.png' %}" width="100" height="46" class="d-inline-block align-top" alt="">
        <p>PetFoodCalc</p>
      </a>
    </div>
      {% with request.resolver_match.view_name as view_name %}
      
        <div class='col-sm-5'>
        <ul class="nav  nav-pills">

          <li class="nav-item">
            <a class="nav-link {% if view_name == 'food:func' %} text-white {% endif %}" href="{% url 'food:func' %}">
              Поиск продукта по нутриентам
            </a>             
          </li>               
          <li class="nav-item">
          <a class="nav-link {% if view_name == 'calc:calc' %} text-white {% endif %}" href="{% url 'calc:calc' '0'%}">
            Калькулятор
          </a>  
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name == 'food:food_search_by_name' %} text-white {% endif %}" href="{% url 'food:food_search_by_name' %}">
            Поиск продукта по названию
          </a>             
        </li>        
        <li class="nav-item">
          <a class="nav-link {% if view_name == 'calc:recnutrlvl' %} text-white {% endif %}" href="{% url 'calc:recnutrlvl' %}">
            Таблица нутриентов
          </a>  
        </li>
        </div>
        <div class='col-sm-5'>
          {% if user.is_authenticated %}
            <div class="btn-group" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset"
                  href="{% url 'calc:profile' user.username %}">{{ user.username }}</a></button>
              <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset"
                  href="{% url 'animal:animal_create' %}"> Добавить питомца</a></button>             
              <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset"
                    href="{% url 'food:food_create' %}"> Добавить продукт</a></button> 
                <form action="{% url 'logout' %}" method="post">
                      {% csrf_token %}
                      <button class="btn btn-outline-primary"><a class="text-decoration-none text-reset" type="button">Выйти</button>
                  </form>   
              {% if user.is_staff %}
              <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset"
                href="/admin">Админка</a></button>
              {% endif %}
            </div>

          {% else %}
            <div class="btn-group" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset"
                  href="{% url 'login' %}">Войти</a></button>
              <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset"
                  href="{% url 'registration' %}">Регистрация</a></button>
            </div>
          {% endif %}
        </ul>
      {% endwith %}
    </div>
  </nav>
</header>