{% extends "base.html" %}
{% load index %}
{% load multiply%}
{% load get_type%}
{% load dict_key%}

{% block title %}
  Калькулятор
{% endblock %}
{% block content %}
    <form>
      <label> Добавить в список: </label>
      <input type="text" list="foodlist" name="food" Placeholder="Введите название продукта" class="form-control" style="width:300px;">
      <datalist id="foodlist">
   {% for results in showfood %}
          <option value="{{ results.description}}">
   {% endfor %}
      </datalist>
      <button type="submit" class="btn btn-outline-primary"><a class="text-decoration-none text-reset">Добавить</a></button>
    </form>
    
    <form>
      <label> Убрать из списка: </label>
      <input type="text" list="foodremovelist" name="remove_food" Placeholder="Введите название продукта" class="form-control" style="width:300px;">
      <datalist id="foodremovelist">
          {% for results in delete_list %}
                 <option value="{{ results.description}}">
          {% endfor %}
      </datalist>
      
      <button type="submit" class="btn btn-outline-primary"><a class="text-decoration-none text-reset">Убрать</a></button>
      </form>


     {% if request.GET.food %} <p><h2> {{request.GET.food}} добавлен!</h2></p> {% endif %}
     {% if request.GET.remove_food %} <p><h2> {{request.GET.remove_food}} убран!</h2></p> {% endif %}

    {% if items_name %}
      <table>
        <caption>
          <h2> Калькулятор </h2>
        </caption>
        <thead>
          <tr>
            <th> Food </th>
            <th> Mass, g </th>
            {% for column in columns %}
              <th> {{column.name}} </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
        {% for row in items %}
        <tr>
          {% with food_instance=items_name|index:forloop.counter0 %}
          {% with food_id=food_instance.id%}
          <td>
            {{food_instance.description}}
          </td>
          <td>
            <form method='POST'>
              {% csrf_token %} 
              <label for='quan_{{food}}'> </label>
              <input type="number" Placeholder='{{mass_dict|dict_key:food_id}}' name="mass_{{food_id}}" style="width: 70px;">
            </form>
          </td>
            {% for column in columns %}
              <td>
              {% for elem in row%}
                {% if elem.nutrient == column %}
                  {% multiply elem.amount mass_dict|dict_key:food_id %}   
                {% endif %}
              {% endfor %} 
              </td>
            {% endfor %}
          {% endwith %}
          {% endwith %}
        </tr>   
        {% endfor %}
        <td>
        </td>
        <th>
          TOTALS
        </th>
          {% for column in columns%}
            <th>
              {% if totals|dict_key:column.name%}
                {{totals|dict_key:column.name}}
              {% endif %}
            </th>
          {% endfor %}

        </tbody>
      </table>
    {% endif %}

{% endblock %}