{% extends "base.html" %}
{% load index %}
{% load multiply%}
{% load get_type%}

{% block title %}
  главная страница Калькулятора
{% endblock %}
{% block content %}
    <form>
      <label> Добавить в список: </label>
      <input type="text" list="foodlist" name="food" Placeholder="Введите название продукта" class="form-control" style="width:300px;">
      <datalist id="foodlist">
   {% for results in showfood %}
          <option value="{{ results.description}}">
   {% endfor %}
      </datalist>
      <button type="submit" class="btn btn-outline-primary"><a class="text-decoration-none text-reset">Добавить</a></button>
    </form>
    
    <form>
      <label> Убрать из списка: </label>
      <input type="text" list="foodremovelist" name="remove_food" Placeholder="Введите название продукта" class="form-control" style="width:300px;">
      <datalist id="foodremovelist">
          {% for results in delete_list %}
                 <option value="{{ results.description}}">
          {% endfor %}
      </datalist>
      
      <button type="submit" class="btn btn-outline-primary"><a class="text-decoration-none text-reset">Убрать</a></button>
      </form>


     {% if request.GET.food %} <p><h2> {{request.GET.food}} добавлен!</h2></p> {% endif %}
     {% if request.GET.remove_food %} <p><h2> {{request.GET.remove_food}} убран!</h2></p> {% endif %} 

    {% for food in chosen %}
    <p> {{food}} 
    <form method='POST'>
      {% csrf_token %} 
      <label for='quan_{{food}}'> </label>
      <input type="number" Placeholder='{{food}}' name="mass_{{food}}">
    </form>
    </p>
    {% endfor %}

    {% if items_name %}
      <table>
        <caption>
          <h2> Калькулятор </h2>
        </caption>
        <thead>
          <tr>
            <th> Food </th>
            {% for column in columns %}
              <th> {{column.name}} </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
        {% for row in items %}
        <tr>
          {% with food_name_class=items_name|index:forloop.counter0 %}
          {% with food_name=food_name_class.description%}
          <td>
            {{food_name}}
          </td>
            {% for column in columns%}
              <td>
              {% for elem in row%}
                {% if elem.nutrient == column %}
                  {% comment %} {{ elem.nutrient }} {% endcomment %}
                  {{elem.amount}}
                  {% comment %} {{ mass_dict.elem|get_type }} {% endcomment %}
                    {{food_name_class|get_type}}
                    
                  {{mass_dict.food_name_class}}

                  {{mass_dict.1}}
                  {% comment %} {% widthratio elem.amount 1 mass_dict.1 %} 
                  {% multiply elem.amount mass_dict.1 %}   {% endcomment %}
                {% endif %}
              {% endfor %} 
              </td>
            {% endfor %}
          {% endwith %}
          {% endwith %}
        </tr>   
        {% endfor %}

        </tbody>
      </table>
    {% endif %}

{% endblock %}