{% extends "base.html" %}
{% block title %}
  главная страница Калькулятора
{% endblock %}
{% block content %}
    <h1> Здесь будет калькулятор! </h1>
    <form>
      <label for="food"> Добавим в рацион: </label> 
      <input type="text" list="foodlist" name="food_name" Placeholder="Введите название продукта" class="form-control" style="width:300px;">
      <datalist id="foodlist">
   {% for results in showcity %}
          <option value="{{ results.description}}">
   {% endfor %}
      </datalist>
      <button type="submit"> "Добавить"</button>
    </form>


{% endblock %}