{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
Создание еды
{% endblock %}

{% block content %}

Создать новый продукт:
<form method="post" enctype="multipart/form-data" class="form-inline">
    {% csrf_token %}
     {% bootstrap_form form %}  
    {% bootstrap_button button_type="submit" content="Создать" %} 
    {% comment %} <input class="form-control" type="text" name='description' placeholder="Введите название нового продукта" style="width:400px;">
    <button type="submit" class="btn btn-outline-primary"><a class="text-decoration-none text-reset">Создать</a></button> {% endcomment %}
  </form>
{% endblock %}