{% extends "base.html" %}
{% load dict_key%}

{% block title %}
    Целевая функция
{% endblock %}

{% block content %}
    <h1>
    Целевая функция
    </h1>
    <form>
      <label> Добавить в целевую функцию: </label>
      <input type="text" list="nutr_list" name="nutr_add" Placeholder="Введите название нутриента" class="form-control" style="width:300px;">
      <datalist id="nutr_list">
   {% for results in nutrient_list %}
          <option value="{{ results.name}}">
   {% endfor %}
      </datalist>
      <button type="submit" class="btn btn-outline-primary"><a class="text-decoration-none text-reset">Добавить</a></button>
    </form>
    
    <form>
      <label> Убрать из списка: </label>
      <input type="text" list="nutrremovelist" name="remove_nutr" Placeholder="Введите название нутриента" class="form-control" style="width:300px;">
      <datalist id="nutrremovelist">
          {% for results in delete_list %}
                 <option value="{{ results.name}}">
          {% endfor %}
      </datalist>
      
      <button type="submit" class="btn btn-outline-primary"><a class="text-decoration-none text-reset">Убрать</a></button>
      </form> 

      {% if request.GET.nutr_add %} <p><h2> {{request.GET.nutr_add}} добавлен!</h2></p> {% endif %}
      {% if request.GET.remove_nutr %} <p><h2> {{request.GET.remove_nutr}} убран!</h2></p> {% endif %}

      {% for nutr in delete_list%}
        <p> {{nutr.name}}
          <form method='POST'>
          {% csrf_token %} 
          <label for='weight_{{nutr}}'> </label>
          <input type="number" Placeholder='{{mass_dict|dict_key:nutr.id}}' name="{{nutr.id}}" style="width: 70px;">
        </form></p>
      {% endfor %}
      
      <table>
        <caption>
          <h2> FoodRating </h2>
        </caption>
        <thead>
          <tr>
            <th> Food </th>
            <th> Index </th>
            {% for nutr in delete_list %}
              <th> -{{nutr.name}}, {{nutr.unit_name}}-</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
        {% for food in rating %}
        <tr>
        <th>
          <a class="btn btn-sm text-muted" href="{% url 'calc:food_detail' food.id %}" role="button">
         {{food.description}}
        </th>
        <th style="text-align: center; vertical-align: middle;">
         {{rating|dict_key:food}}
         </th>
         {% for nutr in delete_list %}
         
         <td style="text-align: center; vertical-align: middle;"> {{nutrients|dict_key:nutr.id|dict_key:food.id}} </th>
         {% endfor %}         
        </td>
        {% endfor%}
        </tbody>
      </table>
{% endblock %}