{% extends "base.html" %}

{% block title %}
    Таблица рекомендованных нутриентов
{% endblock %}


{% block content %}
<table >
    <caption>
        <h2> Таблица рекомендованных нутриентов </h2>
      </caption>
      <thead>
        <tr>
          <th> Nutrient </th>
          {% for stage in pet_stages %}
            <th> <p>{{stage.pet_type}}</p>-{{stage.pet_stage}}- </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for nutr_name in nutrients_name %}
        <tr>
        <th>
            {{nutr_name.name}}, {{nutr_name.unit_name}}
        </th>
        {% for type in stage.pet_type %}
        {% for stage in pet_stages %}

          {{nutrient_dict|dict_key:type}}
            {% with nutr_list=nutrient_dict|dict_key:stage.pet_stage|dict_key:type %}
            <td style="text-align: center; vertical-align: middle;">
            {{nutr_list|dict_key:nutr_name}}  
            </td>
            {% endwith %}
        {% endfor %}
        {%endfor%}
        </tr>
        {% endfor %}
      </tbody>
</table>
{% endblock %}